# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
env/
venv/
.venv/
.pytest_cache/
.ruff_cache/
.coverage

# Logs and debug
*.log
app.log*
*.out

# Secrets
*.json
!firebase/*.json  # Except Firebase config if needed

# Sessions and temp files
flask_session/
*.sqlite3
interactions.json
spreadsheetapp
.env
# Y cualquier otro patrón de archivo que desees ignorar
data/
var/legacy/firestore/
deploy/app.yaml
