<!DOCTYPE html>
<html>
<head>
    <title>Plataforma Educativa</title>
    <!-- <meta name="google-signin-client_id" content="412630077125-c9iupgcs849nlubs50boh69k5mbgnlpi.apps.googleusercontent.com"> -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>



<body>
    <h1>Lista de Ejercicios</h1>

    <section id="Section1">
        <h3>Practica 1: Tecnicas Algoritmicas</h3>
        <table class="exerciseTable" id="section1Table">
            <!-- Cabecera de la tabla -->
            <!-- Las filas se añadirán dinámicamente -->
        </table>
    </section>
    
    <section id="Section2">
        <h3>Practica 2: Divide and Conquer</h3>
        <table class="exerciseTable" id="section2Table">
            <!-- Cabecera de la tabla -->
            <!-- Las filas se añadirán dinámicamente -->
        </table>
    </section>

    <section id="Section3">
        <h3>Practica 3: Algoritmos en Grafos</h3>
        <table class="exerciseTable" id="section3Table">
            <!-- Cabecera de la tabla -->
            <!-- Las filas se añadirán dinámicamente -->
        </table>
    </section>
    
    <section id="Section4">
        <h3>Practica 4: Recorridos y Arboles</h3>
        <table class="exerciseTable" id="section4Table">
            <!-- Cabecera de la tabla -->
            <!-- Las filas se añadirán dinámicamente -->
        </table>
    </section>

    <section id="Section5">
        <h3>Practica 5: Camino Minimo</h3>
        <table class="exerciseTable" id="section5Table">
            <!-- Cabecera de la tabla -->
            <!-- Las filas se añadirán dinámicamente -->
        </table>
    </section>
    
    <section id="Section6">
        <h3>Practica 6: Flujo en Redes</h3>
        <table class="exerciseTable" id="section6Table">
            <!-- Cabecera de la tabla -->
            <!-- Las filas se añadirán dinámicamente -->
        </table>
    </section>

    

    <script>
        


    document.addEventListener('DOMContentLoaded', function() {
    fetch('/get_exercises')
    .then(response => response.json())
    .then(data => {
        console.log(data); // Log data to see if it's correctly fetched

        // Suponiendo que 'sections' es un objeto que mapea los primeros dígitos a las tablas correspondientes
        const sections = {
            '1': document.getElementById("section1Table"),
            '2': document.getElementById("section2Table"),
            '3': document.getElementById("section3Table"),
            '4': document.getElementById("section4Table"),
            '5': document.getElementById("section5Table"),
            '6': document.getElementById("section6Table"),
            // Añade más secciones según sea necesario
        };


        // const table = document.getElementById("extrasTable");
        data.forEach(exercise => {
            let idFirstDigit = exercise.id.toString()[0]; // Obtiene el primer dígito del ID como una cadena


            // Comprueba si existe una sección para este primer dígito
            if (sections[idFirstDigit]) {
                let table = sections[idFirstDigit]; // Obtiene la tabla correspondiente a esta sección
                let row = table.insertRow();
                let cell1 = row.insertCell(0);
                let cell2 = row.insertCell(1);
                let cell3 = row.insertCell(2);
                let cell4 = row.insertCell(2);
                cell1.innerHTML = exercise.id;
                cell2.innerHTML = exercise.name;
                cell3.innerHTML = exercise.info;
                cell4.innerHTML = `<a href="/exercises/${exercise.file}">Consulta</a>`;
            }
        });

    })
    .catch(error => console.error('Error loading exercises:', error));
    });

    
    </script>
</body>
</html>
